@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Sora', sans-serif;
}

.grid {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	grid-auto-rows: minmax(100px, auto);
}

:root {
	--softGrayMS: #e9eaed;
	--textGrayMS: #4d5052;
	--orangeMS: #ff8623;
	--whiteMS: #ffffff;
	--boxesMS: #aaadb1;
	--bgHoverMS: #44474b;
}

.pack {
	display: flex;
	flex-direction: row;
	/* align center */
	align-items: center;
	/* justify center */
	justify-content: center;
	/* margin: 10px; */
	/* width: 250px; */
	width: 100%;
	/* height: fit-content; */
	height: 210px;
	/* background-color: #FF8623; */
	/* padding: 5px; */
}

.pack-download {
	background-color: var(--boxesMS);
	width: 100%;
	height: 100%;
	/* width: 240px;
    height: 200px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* padding: 15px; */
	border-radius: 5px;
	/* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.241); */
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	/* !test */
	position: relative;
	font-size: 14px;
}

iframe {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	z-index: 2;
	/* position: absolute;
	display: none; */
}

@media screen and (max-width: 1200px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
		place-items: center;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
		place-items: center;
	}

	.pack {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}

/* media query tablet */
@media screen and (min-width: 475px) and (max-width: 768px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
		/* padding-left: 10px;
		padding-right: 10px; */
		gap: 16px;
		place-items: center;
		margin: 0 auto;
	}

	.pack {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.pack-download {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

/* media query mobile */
@media screen and (max-width: 474px) {
	.grid {
		grid-template-columns: repeat(1, 1fr);
		padding-left: 10px;
		padding-right: 10px;
		gap: 16px;
		place-items: center;
	}

	.pack {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.pack-download {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
